h2 {
  font: 35pt Helvetica;
  color: #0B486B;
  margin: 0;
}

h3 {
  font: 14pt Helvetica;
  font-style: italic;
  color: #216b96;
  margin-top: 0;
  margin-bottom: 10px;
}

#all {
  text-align: center;
  position: absolute;
  left: 130px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#headerBar {
  text-align: center;
}

#optionsBox {
  position: fixed;
  left: 0px;
  top: 80px;
  height: 155px;
  width: 116px;
  display: inline-block;
  background-color: #0B486B;
  color: white;
  text-align: left;
  font: 10pt Helvetica;
}

.checkbox {
  margin: 10px;
}

#graphs{
  text-align: center;
  display: inline-block;
}

.pieGraph path {
  stroke: white;
  stroke-width: 1px;
}

.pieGraph text {
  font: 8pt Helvetica;
  fill: white;
}

.pieDiv {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.barDiv {
  display: inline-block;
}

g .xAxis path {
  stroke: #0B486B;
}

g .xAxis .tick line {
  stroke: #0B486B;
}

g .xAxis .tick text {
  transform: rotate(310deg);
  text-anchor: end;
  fill: #0B486B;
}

g .xAxis .tick line {
  stroke: #0B486B;
}

g .yAxis path {
  stroke: #0B486B;
}

g .yAxis text {
  font: 8pt Helvetica;
  fill: #0B486B;
}

.tooltipDiv {
  background: white;
  border: solid #0B486B 2px;
  color: #0B486B;
  display: block;
  font: 10pt Helvetica;
  margin-top: 10px;
}
