:root {
  --bg: #282828;
  --module-bg: #484848;
  --light-txt: White;
}

body {
  background-color: var(--bg);
}

#all {
  text-align: center;
  position: absolute;
  left: 116px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

h2 {
  font: 50pt Helvetica;
  color: var(--light-txt);
  margin-top: 25px;
  margin-bottom: 5px;
}

h3 {
  font: 14pt Helvetica;
  font-style: italic;
  color: var(--light-txt);
  margin-top: 0;
  margin-bottom: 25px;
}

#optionsBox {
  position: fixed;
  left: 0px;
  top: 80px;
  height: 155px;
  width: 116px;
  display: inline-block;
  background-color: var(--module-bg);
  color: var(--light-txt);
  text-align: left;
  font: 10pt Helvetica;
}

.checkbox {
  margin: 10px;
}

#graphs{
  text-align: center;
  display: inline-block;
}

.graphDiv {
  background-color: var(--module-bg);
  padding: 25px;
  margin: 10px;
  text-align: center;
  border-radius: 3%;
  display: inline-block;
  vertical-align: top;
}

#tooltipDiv {
  height: 46px;
  width: 185px;
  background-color: var(--bg);
  /*border: solid var(--light-txt) 2px;*/
  color: var(--light-txt);
  font: 10pt Helvetica;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
}

g .xAxis path {
  stroke: var(--light-txt);
}

g .xAxis .tick line {
  stroke: var(--light-txt);
}

g .xAxis .tick text {
  transform: rotate(310deg);
  text-anchor: end;
  fill: var(--light-txt);
}

g .yAxis path {
  stroke: var(--light-txt);
}

g .yAxis .tick line {
  stroke: var(--light-txt);
}

g .yAxis text {
  font: 8pt Helvetica;
  fill: var(--light-txt);
}